* {
    /* background-color: rgb(59,56,56); */
    color: rgb(59,56,56);
    /* font-family: Geneva, Tahoma, sans-serif; */
    margin-left: 5px;
}

img {
    height: 300px;
}

h3 {
    margin-top: 10px;
}